---
title: News
layout: st
---

<h1>News</h1>

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <p class="byline">Posted on {{ post.date  | date_to_long_string }} by {{ post.author }}</p>
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Prev</a>
  {% else %}
    <span>Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <strong>{{ page }}</strong>
    {% elsif page == 1 %}
      <a href="{{ '/news/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next</a>
  {% else %}
    <span>Next</span>
  {% endif %}
</div>
{% endif %}
